<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CGW_GalleryUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CGW_GalleryUploader.Properties.Settings>
            <setting name="ftpServer" serializeAs="String">
                <value>ftp.chloschtergeischter.ch</value>
            </setting>
            <setting name="ftpPath" serializeAs="String">
                <value>/httpdocs/gallerie/upload</value>
            </setting>
        </CGW_GalleryUploader.Properties.Settings>
    </applicationSettings>
</configuration>